<body>
  <header>
    <nav role="navigation">
      <a routerLink="/"
        ><img
          ngSrc="/assets/logo.svg"
          width="150"
          [height]="(150 / 250) * 150"
          priority
          alt="text containing the word Stromberg"
      /></a>
      <ul>
        <li *ngFor="let link of links">
          <a [routerLink]="link.path" routerLinkActive="active">{{ link.title | uppercase }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <main>
      <article>
        <span
          >Made with the <a href="https://stromberg-api.de">Stromberg API</a>, <a href="https://nx.dev">Nx</a> and
          <a href="https://angular.io">Angular</a></span
        >
      </article>
    </main>
  </footer>
</body>
