<section>
  <ng-container *ngIf="episodesDataState$ | async as episodesData">
    <stromberg-show-loading *ngIf="episodesData.isLoading"></stromberg-show-loading>
    <stromberg-episodes-list
      *ngIf="episodesData.value"
      [episodes]="episodesData.value"
      [selectable]="true"
      (selected)="selectEpisode($event)"
    ></stromberg-episodes-list>
    <stromberg-episode-detail
      *ngIf="episodesData.value"
      [selectedEpisode]="selectedEpisode$ | async"
      (selected)="selectEpisode($event)"
    ></stromberg-episode-detail>
    <p *ngIf="episodesData.error" role="banner" class="error-banner">{{ episodesData.error }}</p>
  </ng-container>
</section>
