<section>
  <ng-container *ngIf="vm$ | async as vm">
    <stromberg-episodes-list
      [episodes]="vm.episodes"
      [selectable]="true"
      (selected)="selectEpisode($event)"
    ></stromberg-episodes-list>
    <stromberg-episode-detail
      [selectedEpisode]="vm.selectedEpisode"
      (selected)="selectEpisode($event)"
    ></stromberg-episode-detail>
  </ng-container>
  <ng-container *ngIf="errorMessages$ | async as em">
    <p role="banner" class="error-banner">{{ em }}</p>
  </ng-container>
</section>
